body{
  background-color: rgb(26, 24, 24);
}

.treewrap{
  position: absolute;
  margin-left: 20%;
  width: 60%;
}

h1{
  color: white;

}

.menuwrapper{
  display: flex;
  justify-content: center;
  height: fit-content;
}